version: 0.1
integration-test:
  deploy:
    parameters:
      stack_name: phebee-integration-test
      capabilities:
        - CAPABILITY_AUTO_EXPAND
        - CAPABILITY_NAMED_IAM
      parameter_overrides:
        - AppName=phebee-integration-test
        - VpcId=
        - SubnetId1=
        - SubnetId2=
        - S3AccessLogBucketName=
        - RunOntologyUpdatesOnSchedule=false
      tags:
        - app=phebee

dev:
  deploy:
    parameters:
      stack_name: phebee-dev
      capabilities:
        - CAPABILITY_AUTO_EXPAND
        - CAPABILITY_NAMED_IAM
      parameter_overrides:
        - AppName=phebee-dev
        - VpcId=
        - SubnetId1=
        - SubnetId2=
        - S3AccessLogBucketName=
        - RunOntologyUpdatesOnSchedule=false
      tags:
        - app=phebee

staging:
  deploy:
    parameters:
      stack_name: phebee-staging
      capabilities:
        - CAPABILITY_AUTO_EXPAND
        - CAPABILITY_NAMED_IAM
      parameter_overrides:
        - AppName=phebee-staging
        - VpcId=
        - SubnetId1=
        - SubnetId2=
        - S3AccessLogBucketName=
        - RunOntologyUpdatesOnSchedule=true
      tags:
        - app=phebee

prod:
  deploy:
    parameters:
      stack_name: phebee-prod
      capabilities:
        - CAPABILITY_AUTO_EXPAND
        - CAPABILITY_NAMED_IAM
      parameter_overrides:
        - AppName=phebee-prod
        - VpcId=
        - SubnetId1=
        - SubnetId2=
        - S3AccessLogBucketName=
        - RunOntologyUpdatesOnSchedule=true
      tags:
        - app=phebee